# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
build/

# Local Environment Variables & Credentials
.env
.env.local
.env.production
.env.development

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/
